.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 50px;
	width: 100vw;
	height: 100vh;
	transition: ease 0.5s;
}

.teste {
	padding: 20px !important;
	border: 3px solid transparent;
	outline: none;
	cursor: pointer;
	font-size: 1.6rem;
	border-radius: 6px;
	transition: ease 0.5s;
}

.teste:hover {
	border: 3px solid rgb(30, 30, 30);
}

.text-div {
	font-family: sans-serif;
	background-color: #fff;
	padding: 20px !important;
	border-radius: 6px;
}

.text {
	font-size: 1.4rem;
	border: none;
	border-bottom: 1px solid black;
}
.text:focus {
	outline: none;
}
