* {
	padding: 0 !important;
	margin: 0 !important;
}

.m-5 {
	margin: 3rem;
}

.center-text {
	text-align: center !important;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

.w-100 {
	width: 100%;
}

.w-75 {
	width: 75%;
}

.w-50 {
	width: 50%;
}
.w-25 {
	width: 25%;
}

.m-auto {
	margin: auto !important;
}

.mt-5 {
	margin-top: 3rem !important;
}
